@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

* {
  font-family: "Montserrat", sans-serif;
}

.card {
  border: 0;
  border-radius: 1rem;
  transition: box-shadow 0.3s ease, transform 0.3s ease;
}

.card:hover {
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  transform: scale(1);
  z-index: 1000;
}

.card-image {
  object-fit: contain;
  padding: 0.5em;
}

.card-text {
  margin: auto;
  padding: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  text-align: center;
}

@media (max-width: 1200px) {
  .card-wrapper {
    flex: 1 1 calc(33.33% - 20px);
    max-width: calc(33.33% - 20px);
  }
}

@media (max-width: 900px) {
  .card-wrapper {
    flex: 1 1 calc(50% - 20px);
    max-width: calc(50% - 20px);
  }
}

@media (max-width: 600px) {
  .card-wrapper {
    flex: 1 1 100%;
    max-width: 100%;
  }
}
