@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
* {
  font-family: "Montserrat", sans-serif;
}
.search-span {
  font-size: medium;
}
.search {
  border-radius: 40px;
  background-color: white;
  color: black;
  border: 0px;
  outline: none;
}
.searchbar {
  width: 50dvw;
  margin: auto;
  border: 1px solid rgba(128, 128, 128, 0.273);
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.164);
}
.aboutText {
  margin-left: 20dvw;
}
Form {
  margin-top: 5dvh;
}
.search-wrapper {
  margin-bottom: 4rem;
}
.shop {
  margin-top: 1em;
  margin-left: 3em;
}
