@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

* {
  font-family: "Montserrat", sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.slider-container {
  width: 95vw;
  margin-bottom: 2rem;
  padding: 0 2.5rem;
  overflow: hidden;
  position: relative;
  right: 10%;
  margin-right: 2rem;
}

.slick-slide {
  display: flex;
  justify-content: center;
  align-items: center;
}

.slick-dots li.slick-active button:before {
  color: #000;
}

.slick-arrow::before {
  background-color: rgb(5, 151, 63);
  width: 100%;
  border-radius: 10em;
  border: none;
}

.slick-arrow::after {
  background-color: rgb(5, 151, 63);
  width: 100%;
  border-radius: 10em;
  border: none;
}
